<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <section class="images">
      <img src="img/iruma.jpg" alt="" />
      <img src="img/azz.jpeg" alt="" />
      <img src="img/clara.png" alt="" />
      <img src="img/azz.jpeg" alt="" />
      <img src="img/clara.png" alt="" />
      <img src="img/iruma.jpg" alt="" />
    </section>
    <section class="cardsContainer">
      <div class="card iruma"></div>
      <div class="card azz"></div>
      <div class="card clara"></div>
      <div class="card azz"></div>
      <div class="card clara"></div>
      <div class="card iruma"></div>
    </section>
    <section class="attempts">
      <p>attempts: <span>0</span></p>
    </section>
  </body>
</html>
